body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000 !important;
}


/*
-----------------------------------------------------------------------------------------------------------------
-------------------------------------------ANIMACAO DA LOGO------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.overlay:hover
{
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.zoom img {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}



/*
-----------------------------------------------------------------------------------------------------------------
-------------------------------------------ANIMACAO NEON DA PAGINA HOME------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
  
  @keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to {
        filter: drop-shadow(0 0 30px var(--cor-neon));
    }
  }

  .blink_me {
    font-size: 20px;
    animation: neon 3s alternate infinite ease-in-out;
    --cor-neon: rgb(35, 10, 255);
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }

  /*FIXANDO O TEXTO NEON NA PAGINA HOME*/

  .textNeon {
    color: #fff;
    display: block;
    height: 500px;
    line-height: 400px;
    text-align: center;
  }

  
  /*
  CONTEUDO PARA TODA A PAGINA
  */

  h1, h2, h3, .copyright {
    font-family: 'Facile Sans', sans-serif;
}
  h4, h5, h6, button, .btn {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  p {
    font-family: theboldfont;
  }
  
  @font-face {
    font-family: "Garamond";
    src: url("/public/webfonts/Garamond.ttf");
  }

  @font-face {
    font-family: "theboldfont";
    src: url("/public/webfonts/theboldfont.ttf");
  }

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== CLASS CSS ===== */
.section{
    padding: 3rem 0;
}
.section-title{
    font-size: 2rem;
    color: #FAFAFF;
    margin: 2rem 0;
    text-align: center;
}
.section-title::after{
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: #FAFAFF;
}

/*===== LAYOUT =====*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .habilidades_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

img {
  width: 100%;
}

span {
  width: 20%;
  display: flex;
  flex-direction: row;
}
